.arg { 

    background: #777;
    padding: 10px;
    border: solid 1px black; 
    text-align: center;

}
.header { 
    background: #aaa; 
    padding: 5px; 
    border: solid 1px black; 
    text-align: center;

}
.result { 
    background: #aaa; 
    padding: 10px; 
    border: solid 1px black; 
    text-align: center;

}
.form { 
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -70px;
    display: inline-block;
    text-align: center;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;

    border: 5px solid;
    border-radius: 7px;
    -webkit-box-shadow: #888 3px 3px 3px;

}
 body {
    background: url(../img/formula.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
   }